.forget_password_div{
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
   
}
.forget_form{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  height: 350px;
  border-radius: 3%;
  padding: 1%;
  font-family: "Inter", sans-serif;
  overflow: hidden;

} 
.forget_form label{

  color: #06868f;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 500;


}

.forget_form input{
  width: 95%;
  height: 40px;
  background: #ffffff;
  margin: 2%;
  /* padding: 1px; */
  border: none;
  outline: none;
  border-radius: 4px;
}
.forget_form button{
  width: 50%;
  height: 40px;
  margin: 2%;
  color: #fff;
  background: #069a80;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;

}



